@font-face {
font-family: 'FilsonW05-Regular'; 
src: url('https://github.com/pguevenswaalende/Corporate_Font/raw/refs/heads/main/FilsonW05-Regular.woff2') format('woff2'),url('https://github.com/pguevenswaalende/Corporate_Font/raw/refs/heads/main/FilsonW05-Regular.woff') format('woff'); 
font-weight: normal; 
font-style: normal;
}
